
.head{
    background-color:#293E6A! important;
    color: #f6f1ed! important;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;

}

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 5px;
    text-align: center;

}
.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #dcdcdc;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:#293E6A! important;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #f6f1ed! important;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}


body {
    background: #76b852; /* fallback for old browsers */

    font-family: "Roboto", sans-serif;

}